In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('Data.csv')

In [ ]:
print (dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
#finding shape
dataset.shape

(10, 4)

In [ ]:
#finding isnull/missing value
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
#indexing and selecting data, sort data
select_data=dataset[["Age","Salary"]]

In [ ]:
#sort data
age_sorted=sorted(select_data["Age"])
age_sorted

[27.0, 30.0, 35.0, 37.0, 38.0, 40.0, 44.0, nan, 48.0, 50.0]

In [ ]:
salary_sorted=sorted(select_data["Salary"])
salary_sorted

[48000.0,
 52000.0,
 54000.0,
 58000.0,
 61000.0,
 72000.0,
 nan,
 67000.0,
 79000.0,
 83000.0]

In [ ]:
dataset.shape

(10, 4)

In [ ]:
dataset.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
dataset.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [ ]:
dataset.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [ ]:
dataset.size

40

In [ ]:
dataset.values

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [ ]:
#Rows and columns interchanged
dataset.T

,0,1,2,3,4,5,6,7,8,9
Country,France,Spain,Germany,Spain,Germany,France,Spain,France,Germany,France
Age,44.0,27.0,30.0,38.0,40.0,35.0,NaN,48.0,50.0,37.0
Salary,72000.0,48000.0,54000.0,61000.0,NaN,58000.0,52000.0,79000.0,83000.0,67000.0
Purchased,No,Yes,No,No,Yes,Yes,No,Yes,No,Yes

In [ ]:
dataset.empty

False

In [ ]:
dataset.ndim

2

In [ ]:
dataset.memory_usage()

Index        132
Country       80
Age           80
Salary        80
Purchased     80
dtype: int64

In [ ]:
print(dataset.at[0, 'Age'])

44.0

In [ ]:
dataset.iat

In [ ]:
dataset.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')]